<div class="container-fluid bg-light py-5">
  <div class="row">
    <div class="col-12">
      <h1 class="box-title border-bottom pb-2">
        Listado de productos en stock
        <button
          class="btn btn-sm btn-outline-primary float-end hvr-icon-spin"
          (click)="reloadProductos()"
        >
          <i class="material-icons hvr-icon"> autorenew </i> Recargar Productos
        </button>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card p-4">
        <table
          style="font-size: 0.8em !important"
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="
            table
            tabe-sm
            table-striped table-bordered
            datatable
            border
            my-5
          "
          style="width: 100%"
        >
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">COD</th>
              <th class="text-center">title</th>
              <th class="text-center">description</th>
              <th class="text-center">category</th>
              <th class="text-center">rate</th>
              <th class="text-center">count</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>
                <img
                  class="img-fluid img-thumbnail col-img"
                  [src]="producto.image"
                />
              </td>
              <td>{{ producto.id }}</td>
              <td>{{ producto.title.slice(0, 20) }}</td>
              <td>{{ producto.description.slice(0, 20) }}</td>
              <td>{{ producto.category }}</td>
              <td>{{ producto.rating.rate }}</td>
              <td>{{ producto.rating.count }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
